<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://developer.samsung.com/HelloAccessoryConsumer" version="2.0.0" viewmodes="fullscreen">
    <tizen:application id="VbsgE6bms2.HelloAccessoryConsumer" package="VbsgE6bms2" required_version="2.2"/>
    <content src="index.html"/>
    <feature name="http://developer.samsung.com/tizen/feature/network.accessory_protocol"/>
    <feature name="http://tizen.org/feature/screen.size.normal.320.320"/>
    <icon src="icon.png"/>
    <tizen:metadata key="AccessoryServicesLocation" value="res/xml/accessoryservices.xml"/>
    <tizen:metadata key="master_app_name" value="FudingAndroid"/>
    <tizen:metadata key="master_app_packagename" value="wewe.fuding.activity"/>
    <name>HelloAccessoryConsumer</name>
    <tizen:privilege name="http://developer.samsung.com/privilege/accessoryprotocol"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:setting hwkey-event="enable"/>
	    
     
      
      
	 
</widget>
